# Created by .ignore support plugin (hsz.mobi)
target/
/.idea/
/.idea/workspace.xml
**/mvnw
**/mvnw.cmd
**/.mvn
**/target
.idea
**/gulimall.iml
/gulimall-common.iml
/renren-generator.iml
/renren-fast.iml
